{%extends 'base.html'%}
{%block content%}

<section id="about">
    <div class="about-me">
        <h2>ABOUT ME</h2>
        <img class="profile-img" src="../static/images/profile.png" alt="Aidan Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac interdum dolor. Ut sit amet ligula
            elementum, tincidunt mauris vel, tempus est. Nullam eleifend sodales purus, at condimentum augue efficitur
            in. Praesent ut sapien neque. Cras
            suscipit purus in ultricies molestie. Nulla id mi vel urna rhoncus consectetur. Donec nec metus eu enim
            condimentum sodales ac semper ligula. Pellentesque nec hendrerit odio.
            Ut vel nulla luctus, euismod ante non, elementum nisl. Mauris quis sagittis erat, a efficitur diam.
            Vestibulum tristique neque eget dui iaculis, interdum dapibus magna aliquet. Maecenas at sapien dui. Cras a
            velit sodales, gravida dui ac,
            hendrerit ante. Sed rhoncus eleifend varius. Etiam a tincidunt lectus. Phasellus sem orci, auctor sed neque
            sed, lacinia imperdiet nisl. Curabitur venenatis ornare ante ac pharetra.
            Nullam ut pharetra sem. Nunc blandit augue orci, eget luctus leo iaculis et. Aliquam mattis, lectus a
            elementum pharetra, ligula dolor faucibus nibh, a laoreet tellus dolor vel leo. Quisque elementum diam
            magna, quis blandit nulla tincidunt
            at. Phasellus feugiat ex turpis, eget lacinia felis tristique et. Maecenas condimentum feugiat orci, eu
            rutrum dolor hendrerit in. Nunc interdum mollis augue nec posuere. Mauris in blandit nisi. Ut varius
            ultricies tellus, eu auctor odio
            tempor eget. Sed bibendum velit eu metus accumsan, sed pellentesque ipsum facilisis. Praesent faucibus id
            nibh sit amet auctor. Nam in purus eu leo volutpat tempus ac nec eros. Mauris viverra in nisi at fringilla.
            Cras dictum, magna ut auctor
            aliquet, justo nisi dignissim velit, vel finibus felis lectus eget lorem. Nam volutpat imperdiet neque vel
            varius. Vestibulum vulputate et tortor sit amet venenatis.
        </p>

    </div>

</section>


{%endblock%}