{%extends 'base.html'%}
{%block content%}


  <section id="projects">
    <div class="projects-div container-fluid">
      <h2>PROJECTS</h2>
      <div class="row">
        <div class="col-md-6">
        <div class="card">
          <img src="../static/images/ve.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">School Video Editing Projects</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://drive.google.com/drive/folders/1bin6DxufdbwtG7LqhCTXHY0Br4Sc2laX?usp=sharing" class="btn btn-primary">Click Here</a>
          </div>
        </div>
        </div>



        <div class="col-md-6">
          <div class="card">
            <img src="../static/images/gd.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">School Graphic Design Projects</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://drive.google.com/drive/folders/1NF3P3CVg8fVVx_ePjBTqKZf3l0wSzYBq?usp=sharing" class="btn btn-primary">Click Here</a>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="card">
            <img src="../static/images/eb.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">School Editorial Board Publications</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://drive.google.com/drive/folders/1qz7nJ8TA3NbLPo7z8XAsCbXlPNRmtP6B?usp=sharing" class="btn btn-primary">Click Here</a>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="card">
            <img src="../static/images/vfx.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VFX Work</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://drive.google.com/drive/folders/1bDcPZyCXoN9bsva3DKbgz_eO8WfUjEI6?usp=sharing" class="btn btn-primary">Click Here</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>


  {%endblock%}